<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.ElementoMapper">

	<resultMap type='Elemento' id='ElementoResult'>
		<id property='id' column='id' />
		<result property='name' column='name' />
		<result property='idEquipo' column='idEquipo' />
		<result property='tipo' column='tipo' />
		<result property='descripcion' column='descripcion' />
	</resultMap>

		<select id="buscarElementoPorEquipo" resultMap="ElementoResult"
			parameterType="int">
			SELECT
				e.id,
				e.name,
				e.idEquipo,
				e.tipo
				e.descripcion
			FROM
				ELEMENTO as e
			<if test="idEquipo != null">
				WHERE e.idEquipo = #{idEquipo}
			</if>
		</select>
	
		<select id="buscarElementos" resultMap="ElementoResult">
			SELECT
				e.id,
				e.name,
				e.idEquipo,
				e.tipo,
				e.descripcion
			FROM
				ELEMENTO as e
				WHERE e.idEquipo is not null

		</select>

		<select id = "elementosDisponibles" resultMap="ElementoResult">
		SELECT
				e.id,
				e.name,
				e.idEquipo,
				e.tipo,
				e.descripcion
			FROM
				ELEMENTO as e
				Where idEquipo = 0
		</select>

		<update id="asociarEquipo" >
		UPDATE ELEMENTO SET
			idEquipo = #{idEquipo}
		WHERE id = #{id}
		</update>


    <insert id="registrarElemento" parameterType="edu.eci.cvds.entities.Elemento" >
       
        insert into ELEMENTO(name, idEquipo,tipo,descripcion) values (#{name}, #{idEquipo},#{tipo},#{descripcion}) 
           
       
    </insert>

    
</mapper>