<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.EquipoMapper">

	

		<select id="buscarEquipoPorLab" resultMap="EquipoResult"
			parameterType="int">
				select 
					e.id,
					e.lab
				from EQUIPO as e
				WHERE e.lab = #{lab}
		</select>
	
		<select id="buscarEquipo" resultMap="EquipoResult">
			select 
				e.id,
				e.lab,
				e.activo,
				e.pantalla,
				e.mouse,
				e.teclado,
				e.torre
			from EQUIPO as e
		</select>

		<select id="buscarEquipoPorId" resultMap="EquipoResult"
			parameterType="int">
				select 
					e.id,
					e.activo,
					e.pantalla,
					e.mouse,
					e.teclado,
					e.torre
				from EQUIPO as e
				WHERE e.id = #{id}
		</select>

    <insert id="registrarEquipo" parameterType="edu.eci.cvds.entities.Equipo" >
        insert into EQUIPO(lab) values (#{lab})
    </insert>

		<select id="maxIdEquipo" resultType="int">
       SELECT MAX(id) FROM EQUIPO
   </select>


	 <resultMap type='Equipo' id='EquipoResult'>
		<id property='id' column='id' />
		<result property='lab' column='lab'  />
		<association property="pantalla" column="pantalla" javaType="Elemento" resultMap="edu.eci.cvds.resources.mappers.ElementoMapper.Elemento"></association>
		<association property="mouse" column="mouse" javaType="Elemento" resultMap="edu.eci.cvds.resources.mappers.ElementoMapper.Elemento"></association>
		<association property="teclado" column="teclado" javaType="Elemento" resultMap="edu.eci.cvds.resources.mappers.ElementoMapper.Elemento"></association>
		<association property="torre" column="torre" javaType="Elemento" resultMap="edu.eci.cvds.resources.mappers.ElementoMapper.Elemento"></association>
	</resultMap>


    
</mapper>