/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2019, 04:36:49 PM
    Author     : julia
*/


.row {
  display: flex; 
}


.formulario{
  margin-bottom: 10px;
}


/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px; 
}

img{
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}




h4{
    margin: 4px;
}

.boton{
    font-size: 24px;
}

.final {
    padding-bottom: 50px;   
}
