


#iconos{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

img{
    width: 100%;       
}

body *{
    font-size: 20px;    
}

.switch div *{
    font-size: 18px !important;
}

h1{
   font-size: 35px; 
   padding-top: 30px;
}



#formulario,img{  
    text-align: center;
    margin-left: auto;
    margin-right: auto;     
}


.formulario{        
    min-width: 600px;
   
}

.boton{
    margin-top: 20px;
}


.compartido{
    text-align: center;
}