
/* 
    Author     : J. Eduardo Arias
*/

input{
    font-size: 24px;    
    margin: 10px;
}


.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 22%;    
}

.column>div{
    margin: 10px;
}


.column *{
    display: block;
    text-align: center;
    margin: 0px auto;    
}

img{
    max-height: 150px;    
}

button{
    margin-top: 20px !important;
}

.inlines * {
    display: inline-block !important;
}