/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/05/2019, 07:50:44 PM
    Author     : J. Eduardo Arias
*/

.formulario{
    max-width: 900px;    
}

.compartido>div:nth-of-type(2){
    width: 30%;
}